# List of dependencies to install
absl-py==1.0.0
apache-beam==2.37.0
GitPython>=3.1.24  # for "git" module
google-cloud-storage>=2.1.0
immutabledict>=2.2.1
javalang>=0.13.0
jax>=0.2.26
flax>=0.3.6
trax>=1.4.1
numpy==1.21.5
pyparsing==2.4.7
scipy>=1.6.1
requests>=2.24.0
tensorflow>=2.5.0
tqdm>=4.62.3
tensor2tensor>=1.15.7
unidiff>=0.7.0
kfac==0.2.0
nltk>=3.6.6
dopamine-rl==3.2.1
-f https://storage.googleapis.com/jax-releases/jax_releases.html
jaxlib==0.3.0+cuda11.cudnn82